header,footer{
  a,span{
    color: whitesmoke !important;
    &:hover{
      text-decoration: underline;
    }
  }
}

/*
.admin-page-container {
    padding: 0 10rem;
}

.main-menu a {
    padding: 1rem 3rem;
    background-color: grey;
    display: block;
    background-color: whitesmoke;
}

.main-menu {
    list-style-type: none;
    width: 100%;
}

.main-menu li {
    margin: 0;
}

.main-menu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .product-item {
    display: grid;
    background: #f3f3f3;
    grid-template-rows: 2fr auto auto auto;
    grid-template-areas:
      "image"
      "title"
      "price"
      "button";
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .product-item img {
    grid-area: image;
    justify-self: center;
    height: 200px;
    object-fit: cover;
  }
  
  .product-item h3 {
    grid-area: title;
    margin: 10px;
    font-size: 20px;
  }
  
  .product-item p {
    grid-area: price;
    margin: 10px;
    font-size: 16px;
  }
  
  .product-item button {
    grid-area: button;
    margin: 10px;
    padding: 10px 20px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
  }
*/

  
  

