{% extends 'base.html.twig' %}
{% block body %}
            <h2>Магазин бытовой техники</h2>
       <body>

  <div class="product-grid">
  <div class="product-item">
    <a href="http://127.0.0.1:8000/product/">
    <img src="fridge.png" alt="Product 1">
    </a>
    <h3>Холодильники</h3>
    <p>$19.99</p>
    <button>Add to Cart</button>
  </div>
  <div class="product-item">
    <img src="kot.PNG" alt="Cat Sky">
    <h3>Cat Sky</h3>
    <p>Free</p>
    <button>Add to Cart</button>
  </div>
  <div class="product-item">
    <img src="microwave.png" alt="Product 3">
    <h3>Product 3</h3>
    <p>$39.99</p>
    <button>Add to Cart</button>
  </div>
  <div class="product-item">
    <img src="washing-machine.png" alt="Product 4">
    <h3>Product 4</h3>
    <p>$49.99</p>
    <button>Add to Cart</button>
  </div>
  <div class="product-item">
    <img src="freezer.png" alt="Product 5">
    <h3>Product 5</h3>
    <p>$19.99</p>
    <button>Add to Cart</button>
  </div>
  <div class="product-item">
    <img src="vestel.png" alt="Product 6">
    <h3>Product 6</h3>
    <p>$29.99</p>
    <button>Add to Cart</button>
  </div>
  <div class="product-item">
    <img src="dryer.png" alt="Product 7">
    <h3>Product 7</h3>
    <p>$39.99</p>
    <button>Add to Cart</button>
  </div>
  <div class="product-item">
    <img src="boiler.png" alt="Product 8">
    <h3>Product 8</h3>
    <p>$49.99</p>
    <button>Add to Cart</button>
  </div>
</div>



    

       </body>
{% endblock %}