{% extends 'base.html.twig' %}
{% block body %}
    <div class="text">
        <h2>Компания Bomba</h2>
        <p>
            Компания Bomba – лидер по продаже электроники и бытовой техники на молдавском рынке. Мы знаем, насколько
            стремительна жизнь, и как важно все успеть! Пока вы работаете и строите карьеру, воспитываете детей и
            воплощаете мечты в реальность, мы всегда рядом – в шаге, в клике, по звонку.
            Уже более 20 лет, вместе с вами, мы открыли 31 магазинов в 20 городах Молдовы и сделали все для того, чтобы
            от желания до покупки, вам оставался всего шаг. Дома и на работе, в кафе и самолете – покупайте электронику
            в интернет-магазине www.bomba.md и забирайте в любом удобном магазине сети.
            Главное в работе сети супермаркетов Bomba – сделать процесс покупки максимально комфортным: предложить
            именно то, что нужно по лучшей цене, обслужить на высоком уровне, привлечь самыми выгодными программами.
            В наших магазинах вы можете воспользоваться самыми выгодными кредитными программами, предоставленными
            банками-партнерами, с которыми сеть супермаркетов Bomba успешно сотрудничает долгие годы. Приятных покупок!
        </p>
    </div>
{% endblock %}