{% extends 'base.html.twig' %}

{% block title %}Подтверждение заказа{% endblock %}

{% block body %}
    <h1>Заказ успешно оформлен!</h1>
    <p>В ближайшее время наш менеджер свяжется с вами для уточнения деталей заказа.</p>
{% endblock %}
