<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome Max{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    {% block milligram %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    {% endblock %}
</head>

<body>
    <div class="row">
        <div class="column column-10">
            {# это коментариц #}
            {# это меню надо вытащить в отдельный темплэйт #}
            <ul class="main-menu">
                <li><a href="{{ path('app_product_index') }}">Products</a></li>
                <li><a href="{{ path('app_store_index') }}">User</a></li>
                <li><a href="#">...</a></li>
            </ul>
        </div>
        <div class="column column-90">
            <div class="admin-page-container">
                {% block body %}

                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
