<footer>
    <div class="container">
        <div class="row">
            <div class="column footer-connect">
                <a>
                    <li><b>ОБРАТНАЯ СВЯЗЬ</b></li>
                    <li>Поддержка клиентов:</li>
                    <li>+(373) 69-888-444</li>
                </a>
            </div>

            <div class="column footer-schedule">
                <li><b>График работы</b></li>
                <li>Пн - Пт: 9:00 - 18:00 Суббота: 9:00 - 15:00</li>
                <li>Воскр: выходной</li>
            </div>

            <div class="column form-email">
                <form>
                    <fieldset>
                        <label for="nameField">Получать спецпредложения</label>
                        <input type="text" placeholder="E-mail" id="nameField">
                        <input class="button-primary" type="submit" value="Send">
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="footer-info">
            <a>Copyright Anikienko Maxim</a>
        </div>
    </div>
</footer>
