<div class="container">
    <nav>
        <div class="logo">
            <a href="/"> <img src="/lg2.svg" width="100px" height="100px">
            </a>
        </div>

        <div class="menu">
            <ul>
                <li><a href="/store">Магазины</a></li>
                <li><a href="/delivery">Доставка</a></li>

                <li class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown button
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                    
                <li><a href="/order">Заказать</a></li>
                <li><a href="/comment">Отзывы</a></li>
            </ul>
        </div>
        <div class="auth">
            <a href="/login"> <img src="/login_icon.png" width="40px" height="40px" /> Login</a>
        </div>
    </nav>

</div>
