<div class="container">
    <nav>
        <div class="logo">
            <a href="/"> <img src="lg2.svg" width="100" height="100px">
            </a>
        </div>

        <div class="menu">
            <ul>
                <li><a href="/store">Магазины</a></li>
                <li><a href="/delivery">Доставка</a></li>
                <li><a href="/product">Техника</a></li>
                <li><a href="/order">Заказать</a></li>
                <li><a href="/comment">Отзывы</a></li>
            </ul>
        </div>
        <div class="auth">
            <a href="/login"> <img src="login_icon.png" width="40" height="40px" /> Login</a>
        </div>
    </nav>
</div>
